# Python 3.10.5
# Apple M1 Arm64

pyarrow==13.0.0 # to work with parquet files
fastparquet==2023.8.0 # to work with parquet files
pandas==2.1.1
requests==2.31.0
githubdata==16.1.1
mirutil==25.1.0
mtok==1.3.0
run_py==0.0.2
namespace_mahdimir==3.3.0
